<!DOCTYPE html>
<html>
<head>
    <title>Система массового обслуживания</title>
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <link rel="stylesheet" type="text/css" href="../style/general.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/eel.js"></script>
    <script src="../script/script.js"></script>

</head>

<body>
{% include '/include/header.html' %}

{% block content %}

{% endblock %}
</body>

</html>