
<div class="navbar">
    <div class="horizontal_menu">
        <ul class="menu_list">
            <a href="homepage.html">
                <li id="step-mode">
                    Пошаговый режим
                </li>
            </a>
            <a href="homepage automat.html">
                <li id="auto-mode">
                    Автоматический режим
                </li>
            </a>
        </ul>
    </div>
    <div>
        <li id="drop">
            <ul class="submenu">
                <li>
                    <div class="control-panel text-align-center">
                        <div class="display-inline">
                            <label for="TaskNumber">ЗАЯВКИ</label>
                            <input id="TaskNumber" type="number" placeholder="Source number" value="500">
                        </div>
                        <div class="display-inline">
                            <label for="SourceNumber">ИСТОЧНИКИ</label>
                            <input id="SourceNumber" type="number" placeholder="Source number" value="20">
                        </div>
                        <div class="display-inline">
                            <label for="BufferNumber">БУФЕРЫ</label>
                            <input id="BufferNumber" type="number" placeholder="Buffer number" value="20">
                        </div>
                        <div class="display-inline">
                            <label for="DeviceNumber">ПРИБОРЫ</label>
                            <input id="DeviceNumber" type="number" placeholder="Device number" value="20">
                        </div>
                        <div class="display-inline">
                            <label for="Lambda">ЛЯМБДА</label>
                            <input id="Lambda" type="number" placeholder="Lambda" value="1.5">
                        </div>
                        <div class="display-inline">
                            <label for="par-a">A</label>
                            <input id="par-a" type="number" placeholder="A" value="0">
                        </div>
                        <div class="display-inline">
                            <label for="par-b">B</label>
                            <input id="par-b" type="number" placeholder="B" value="2">
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </div>
</div>
